{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/eg.png' %}" type="image/x-icon">
    <title>EventGala</title>
    <!-- style css link -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
<!-- header section start -->


    <header>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="logoBox">
                    <img src="{% static 'images/eg.png' %}" alt="logo">
                </div>
                <div class="searchBox">
                    <input type="search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="iconBox2">
                    <label><img src="{% static 'images/hey1.png' %}" alt="user"></label>
                </div>
            </div>
        </div>
    </header>


<!-- header section end -->
<!-- home section start -->


<div class="home">
    <div class="container">
        <div class="home-weapper">

            <!-- home left start here -->
            <div class="home-left">

            

                

                <div class="explore">

                    
                    <a href="#"><i class="fa-solid fa-user-group"></i> Group</a>
                    <a href="#"><i class="fa-solid fa-star"></i></i> Favorites</a>
                    <a href="#"><i class="fa-solid fa-bookmark"></i></i> Saves</a>
                    <a href="#"><i class="fa-solid fa-clock"></i> Events</a>
                    <a href="#"><i class="fa-solid fa-flag"></i> Pages</a>
                    <a href="{% url 'logout' %}"><i class="fa-solid fa-flag"></i> Logout</a>

                    <div><label class="darkTheme"> <span></span></label> Apply Dark Theme</div>

                </div>
                
            </div><!-- home left end here -->

            <!-- home center start here -->

            <div class="home-center">
                <div class="home-center-wrapper">
                    <div class="stories">
                        <h3 class="mini-headign">Stories</h3>
                        <div class="stories-wrapper">

                            <div class="single-stories">
                                <label><img src="{% static 'images/hey1.png' %}" alt="user"></label>
                                <div>
                                    <img src="{% static 'images/four.jpg' %}" alt="user">
                                    <i class="fa-solid fa-circle-plus"></i>
                                    <b>Create Stories</b>
                                </div>
                            </div>

                            <div class="single-stories">
                                <label><img src="{% static 'images/whitey.png' %}" alt="sp"></label>
                                <div>
                                    <img src="{% static 'images/ice.jpg' %}" alt="ss">
                                    <b>Icy</b>
                                </div>
                            </div>

                            <div class="single-stories">
                                <label><img src="{% static 'images/pandu.png' %}" alt="sp2"></label>
                                <div>
                                    <img src="{% static 'images/bamboo.jpg' %}" alt="ss2">
                                    <b>Pan Pan</b>
                                </div>
                            </div>

                            <div class="single-stories">
                                <label><img src="{% static 'images/brownie.png' %}" alt="sp3"></label>
                                <div>
                                    <img src="{% static 'images/forest.jpg' %}" alt="ss3">
                                    <b>Grizz</b>
                                </div>
                            </div>

                            <div class="single-stories">
                                <label><img src="{% static 'images/chloe.png' %}" alt="sp4"></label>
                                <div>
                                    <img src="{% static 'images/all.png' %}" alt="ss4">
                                    <b>Chloe</b>
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="createPost">

                        <h3 class="mini-headign">Create Post</h3>
                        <div class="post-text">
                            <img src="{% static 'images/hey1.png' %}" alt="user">
                            <input type="text-area" placeholder="What's on your mind, zahidul">
                        </div>

                        <div class="post-icon">
                            <a href="#" style="background: #ffebed;">
                            <i style="background: #ff4154;" class="fa-solid fa-camera"></i>
                            Gallery</a>

                            <a href="#" style="background: #ccdcff;">
                            <i style="background: #0053ff;" class="fa-solid fa-video"></i>
                            Video</a>

                            <a href="#" style="background: #d7ffef;">
                            <i style="background: #00d181;" class="fa-solid fa-location-dot"></i>
                            Location</a>

                            <a href="#" style="background: #cff3ff;">
                            <i style="background: #04c3ff;" class="fa-solid fa-gift"></i>
                            Gift</a>
                            
                            <a href="#" style="background: #fff4d1;">
                            <i style="background: #ffca28;" class="fa-solid fa-face-grin-beam"></i>
                            Feeling / Acrivity</a>

                        </div>

                    </div>

                   
                    <div class="fb-post1">
                        <div class="fb-post1-container">
                            
                            <div class="fb-p1-main">
                                <div class="post-title">
                                    <img src="{% static 'images/hey1.png' %}" alt="user picture">
                                    <ul>
                                        <li><h3>Bibek Karki <span> . 2 hours ago</span></h3></li>
                                        <li><span>02 march at 12:55 PM</span></li>
                                    </ul>
                                    <p>Don't Forget to Join us !!!</p>
                                </div>
        
                                <div class="post-images">
                                    <div class="post-images1">
                                        <img src="{% static 'images/one.jpg' %}" alt="post images 01">
                                        <img src="{% static 'images/two.jpg' %}" alt="post images 02">
                                        <img src="{% static 'images/three.jpg' %}" alt="post images 03">
                                    </div>
                                    <div class="post-images2">
                                        <img src="{% static 'images/six.jpg' %}" alt="post images 04">
                                    </div>
                                </div>
        
                                <div class="like-comment">
                                    <ul>
                                        <li>
                                            <img src="{% static 'images/love.png' %}" alt="love">
                                            <img src="{% static 'images/like.png' %}" alt="like">
                                            <span>22k like</span>
                                        </li>
                                        <li><i class="fa-regular fa-comment-dots"></i> <span>555 comments</span></li>
                                        <li><i class="fa-solid fa-share-from-square"></i> <span>254 share</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- home center wrapper end -->
            </div> <!-- home center end -->

            <div class="home-right">
                <div class="home-right-wrapper">

                    <div class="event-friend">
                        <div class="event">
                            <h3 class="heading">Upcoming Events <span>See All</span></h3>
                            <img src="{% static 'images/five.jpg' %}" alt="event-img">
                            <div class="event-date">
                                <h3>21 <b>july</b></h3>
                                <h4>United state of America <span>New York City</span></h4>
                            </div>
                            <button><i class="fa-regular fa-star"></i> interested</button>
                        </div>
                    </div>



                </div><!-- home right wrapper end -->
            </div><!-- home right end -->






        </div>
    </div>
</div>




<!-- home section end -->

<script>
    var darkButton = document.querySelector(".darkTheme");

    darkButton.onclick = function(){
        darkButton.classList.toggle("button-Active");
        document.body.classList.toggle("dark-color")
    }

</script>

</body>
</html>